---
import { USER_NAME } from "../consts";
import { USER_SITE } from "../consts";
---

<footer class="p-8 text-center">
  <p>
    © {new Date().getFullYear()}
    <a href={USER_SITE} target="_blank" class="font-bold">{USER_NAME}</a>
  </p>
</footer>
